
#cover {
  z-index:500;
}

#coverLight {
  z-index:400;
}
.pushout {
  z-index: 200;
}

.main-nav {
  &.pass {
    z-index: 200 !important;
  }
}

.fixed-top {
  z-index: 200 !important;
}

.mobile-btn {
  z-index: 200 !important;
}

.panel-expand {
  display: none;
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 700;
  &.active {
    z-index: 700;
    display: block;
  }
}