<div id="why" class="content bg-nobel hero-banner-pad">
    <div class="content_row ">
        <div class="content_row__main ">
            <!--Content start-->

            <div class="d-none d-lg-block d-xl-block">
                <div class="row">
                    {{>content-home-henry-lg}}
                </div>
            </div>
            <div class="d-none d-md-block d-lg-none">
                <div class="row">
                    {{>content-home-henry-md}}
                </div>
            </div>
            <div class=" d-sm-block d-md-none">
                <div class="row">
                    {{>content-home-henry-sm}}
                </div>
            </div>
        </div>
    </div>
</div>