<div class="banner-wrapper">
    <div class="banner-hero">
        <div class="banner-hero_henry">
            <div class="close-up">

                <div class="close-up_img">
                    <img src="/images/new/before-after-treatment.jpg" alt="Gary" class="embed-responsive">
                </div>
                <div class="close-up_name">
                    Henry Baker - Before & After
                </div>
            </div>
            <a class="btn-play-light play" data-iframe="<iframe src=&quot;https://www.youtube.com/embed/TGbvtDoaNAs?rel=0&amp;autoplay=&quot;1&quot; frameborder=&quot;0&quot; width=&quot;640&quot; height=&quot;360&quot; frameborder=&quot;0&quot; width=&quot;560&quot; height=&quot;315&quot; webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>" target="_blank" title="Watch video">
                <div class="btn-play_txt">Tour our lab</div>
                <div class="video-play-button-light"><span></span></div>
            </a>
        </div>
        <div class="banner-hero_usp">
            <h1 ><span>UK's Best Dental Implants</span><br>
                <span>Get Treatment In <b>{{practicName}}</b></span></h1>

            <div class="banner-hero_usp_testimonial">
                <blockquote><p>The best dentist I have ever visited. All staff are friendly and welcoming. The price was good with no unexpected extras.</p></blockquote>
                <div class="footer-note">
                    <div class="footer-note_hed">
                        <h4>Highly recommended.</h4>
                        <p>Jim Oates, Finest Dental Patient</p>
                    </div>
                    <div class="footer-note_badge">
                        <img src="/images/new/{{imgPriceA}}" alt="Implant" class="embed-responsive">
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

