<div class="banner-hero">
    <div class="banner-hero_henry">
        <img src="/images/new/before-after-treatment.jpg" alt="Gary" class="embed-responsive rounded">
    </div>
    <div class="banner-hero_usp">
        <h1 class="mb-4 txt-c2 alt hero-hed">World's leading dental implants at Finest Dental <b>{{practicName}}</b></h1>
        <div class="banner-hero_usp_testimonial">
            <blockquote>
                <p>The best dentist I have ever visited. All staff are friendly and welcoming. The price was good with no unexpected extras.</p>
            </blockquote>
            <div class="footer-note">

                <div class="footer-note_hed">
                    <h4>Highly recommended.</h4>
                    Jim Oates, Finest Dental Patient

                </div>
            </div>
        </div>

    </div>
</div>

{{>content-usp}}