
<a id="cstop" name="cstop" class="topOfSection"></a>
<div class="content section-pad">

    <div class="content_row">
        <div class="content_row__main">

            <div class="tab-content cs-tabs-panels" id="nav-tabContent">
                <div id="getting-started" class="tab-pane fade show active "  role="tabpanel" aria-labelledby="getting-started-tab">
                    {{>content-gettingstarted}}
                </div>
                <div id="prices"  class="tab-pane fade in" role="tabpanel" aria-labelledby="prices-tab">
                    {{>content-pricing}}
                </div>
                <div id="results" class="tab-pane fade full-pane"  role="tabpanel" aria-labelledby="results-tab">
                    {{>content-results}}
                </div>
                <div id="quality" class="tab-pane fade full-pane"  role="tabpanel" aria-labelledby="quality-tab">
                    {{>content-quality}}
                </div>
                <div id="practice" class="tab-pane fade "  role="tabpanel" aria-labelledby="practice-tab">
                    <h1>practice</h1>
                </div>
                <div id="inlineFormContact" class="tab-pane-fixed">
                    {{>widget-quote}}
                </div>
            </div>
        </div>
    </div>
</div>
