<div id="leading" class="content section-pad">
    <div class="content_row ">
        <div class="content_row__main pushout">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="getting-started-tab" data-toggle="tab" href="#getting-started" role="tab" aria-controls="getting-started" aria-selected="true">Getting Started</a>
                    <a class="nav-item nav-link" id="prices-tab" data-toggle="tab" href="#prices" role="tab" aria-controls="prices" aria-selected="false">Prices</a>
                    <a class="nav-item nav-link" id="results-tab" data-toggle="tab" href="#results" role="tab" aria-controls="results" aria-selected="false">Results</a>
                    <a class="nav-item nav-link" id="quality-tab" data-toggle="tab" href="#quality" role="tab" aria-controls="quality" aria-selected="false">Quality Guarantee</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade in show active" id="getting-started" role="tabpanel" aria-labelledby="getting-started-tab">Getting Started</div>
                <div class="tab-pane fade" id="prices" role="tabpanel" aria-labelledby="prices-tab">Prices</div>
                <div class="tab-pane fade" id="results" role="tabpanel" aria-labelledby="results-tab">Results</div>
                <div class="tab-pane fade" id="quality" role="tabpanel" aria-labelledby="quality-tab">Quality Guarantee</div>
            </div>
        </div>
    </div>
</div>
