<div id="iqHolder" class="widget-form">
    <h3>Instant <b>Quote</b></h3>
    <form action="#" id="quote">
        <div id="iqBody" class="widget-form_body">
            <select class="form-control mb-2 form-control-lg" id="numTeeth" name="numTeeth"   >
                <option value="">Missing teeth</option>
                <option value="1">1 tooth</option>
                <option value="2">2 teeth</option>
                <option value="3">3 - 4 teeth</option>
                <option value="4">5 - 6 teeth</option>
                <option value="5">6 - 8 teeth</option>
                <option value="1A">Whole arch</option>
                <option value="2A">Both arches</option>
            </select>
            <select class="form-control mb-2 form-control-lg" id="missingSince" name="missingSince">
                <option value="">Missing for</option>
                <option value="1">Less than a year</option>
                <option value="2">More than a year</option>
            </select>

            <div class="text-center">
                <input class="btn-full mb-3" type="submit" name="submit" value="GET MY QUOTE" />
            </div>
            <p class="meta-text text-center">All quotes are generic and are subject to a full consultation by a Finest Dental clinician. The price may change depending on the position of your teeth or should you require any additional treatments.</p>
        </div>
    </form>
</div>