/* sample file */


.main-holder {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: nowrap;

  &_content{
    flex-grow: 1;
  }
  &_sidebar{
    width: 500px;
    min-width: 300px;

    @include media-breakpoint-up(xs) {
      display: none;
    }
    @include media-breakpoint-up(sm) {
      display: none;
    }
    @include media-breakpoint-up(md) {
      display: block;
    }
    @include media-breakpoint-up(lg) {
      display: block;
      padding-top: 95px;
    }

  }
}
