<div class="main-nav fixed-top">
    <div class="nav-wrapper">
        <div class="nav_logo fd-logo"></div>
        <div class="nav-links">
            <ul class="nav flex-row">
                <li class="nav-item"><a class="nav-link" data-nav="tab" href="#getting-started">Get&nbsp;Started</a></li>
                <li class="nav-item"><a class="nav-link" data-nav="tab" href="#prices"  aria-pressed="true">Prices</a></li>
                <li class="nav-item"><a class="nav-link" data-nav="tab" href="#results"  aria-pressed="true">Results</a></li>
                <li class="nav-item"><a class="nav-link" data-nav="tab" href="#quality"  aria-pressed="true">Quality Guarantee</a></li>
                <li class="nav-item"><a class="nav-link" data-nav="tab" href="#practice"  aria-pressed="true">Practice</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="#contact"  aria-pressed="true">contact <span class="hide">&nbsp;us</span></a></li>-->
            </ul>
        </div>
        <div id="st-trigger-effects"  class="right-cta">
            <div class="cta-btns">
                <a href="tel:{{content.tellnumber}}" class="nav-links_callbtn">
                    Call: {{content.tellnumber}}
                </a>
                <a href="#" class="nav-links_bookbtn openForm">
                    <span class="nonmob">Book <span class="hide">a <strong>Free</strong> </span> Consultation</span>
                </a>
            </div>

            <button id="hamburger" class="hamburger" data-effect="st-effect-3">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </div>

    </div>
</div>


