.banner-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1600px;
  margin: 0 auto;
  @include media-breakpoint-up(xs) {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

  }
  @include media-breakpoint-up(sm) {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

  }
  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-around;
    width: 97%;

  }
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    justify-content: space-around;
    width: 97%;
  }

  &_henry {
    display: flex;
    flex-direction: column;


    @include media-breakpoint-up(xs) {
      align-items: center;
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid lighten($acc1,20%);
    }
    @include media-breakpoint-up(sm) {
      align-items: center;
      border-bottom: 1px solid lighten($acc1,20%);
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      align-items: flex-end;
      padding-bottom: auto;
      margin: 0 20px 0 0;
      border-bottom: 0;
      width: 100%;

    }
    @include media-breakpoint-up(lg) {
      align-items: flex-end;
      padding-bottom: auto;
      border-bottom:0;
      margin: 0 20px 0 0;
      width: 40%;
    }

    @include media-breakpoint-up(xl) {
      width: 50%;
      align-items: flex-end;
      padding-bottom: auto;
      border-bottom:0;
      margin: 0 40px 0 0;

    }

    .close-up {

      @include media-breakpoint-up(xs) {
        transform: rotate(0deg);
      }
      @include media-breakpoint-up(sm) {
        transform: rotate(0deg);
      }
      @include media-breakpoint-up(md) {
        transform: rotate(-5deg);
      }
      @include media-breakpoint-up(lg) {
        transform: rotate(-5deg);
      }
    }
  }
  &_usp {

    @include media-breakpoint-up(xs) {
    }
    @include media-breakpoint-up(sm) {

    }
    @include media-breakpoint-up(md) {

    }
    @include media-breakpoint-up(lg) {
      width: 50%;
    }

    @include media-breakpoint-up(xl) {
      width: 50%;
    }


    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;



    &_testimonial {

      h1 {

      }

      blockquote {
        width: 100%;
        position: relative;

        @include media-breakpoint-up(xs) {
          margin-bottom: 0px;
        }
        @include media-breakpoint-up(sm) {
          margin-bottom: 0px;
        }
        @include media-breakpoint-up(md) {
          margin-bottom: 15px;
        }
        @include media-breakpoint-up(lg) {
          margin-bottom: 35px;
        }

        p {
          margin: 0;
          color: $gray-800;
          @include media-breakpoint-up(xs) {
            font-size: 18px;
          }
          @include media-breakpoint-up(sm) {
            font-size: 20px;
          }
          @include media-breakpoint-up(md) {
            font-size: 22px;
          }
          @include media-breakpoint-up(lg) {
            font-size: 25px;
          }
          &::before {

            color: $gray-500;
            content: '“';
            font-size: 3em;

            position: absolute;
            @include media-breakpoint-up(xs) {
              font-size: 3em;
              top: 0px;
              left: 20px;
            }
            @include media-breakpoint-up(sm) {
              font-size: 3em;
              top: 0px;
              left: 20px;
            }
            @include media-breakpoint-up(md) {
              font-size: 3em;
              top: -20px;
              left: -30px;
            }
            @include media-breakpoint-up(lg) {
              font-size: 3em;
              top: -20px;
              left: -30px;
            }

          }
          &::after {

            color: $gray-500;
            content: '”';

            font-size: 3em;
            position: absolute;

          }
        }
      }

      .footer-note {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: left;
        justify-content: flex-end;
        &_hed{
          flex-grow: 1;
          align-self: start;
          padding-right: 15px;
          color: $gray-800;

          h4 {
            color: $gray-800;
            border-bottom: 1px solid $gray-500;
            margin-bottom: 5px;
            padding-bottom: 5px;
          }

        }
        &_badge {
          width: 120px;

        }

      }
    }
  }

}

.banner-wrapper {
  background-color: $acc1;

}


.hero-hed {

  @include media-breakpoint-up(xs) {

    font-size: 30px;
  }
  @include media-breakpoint-up(sm) {
    font-size: 35px;
  }
  @include media-breakpoint-up(md) {
    font-size: 45px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 49px;
  }
}