.banner-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1090px;
  margin: 0 auto;
  @include media-breakpoint-up(xs) {
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    width: 97%;
  }
  @include media-breakpoint-up(lg) {
    width: 97%;
    padding: 40px 0 0 0;
    margin: 90px auto 0 auto;
  }

  &_henry {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    padding-right: 50px;
    max-width: 750px;
    .close-up {
      transform: rotate(-5deg);
    }
  }
  &_usp {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
      margin-bottom: 35px;
      text-align: right;
      color: $white;
    }

    &_testimonial {

      font-size: 18px;

      blockquote {
        width: 100%;
        position: relative;
        margin-bottom: 35px;


        p {
          margin: 0;
          font-size: 1.5em;
          color: $white;
          &::before {
            top: -30px;
            left: -32px;
            color: $gray-300;
            content: '“';
            font-size: 3em;
            position: absolute;

          }
          &::after {

            color: $gray-300;
            content: '”';

            font-size: 3em;
            position: absolute;

          }
        }
      }

      .footer-note {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: right;
        justify-content: flex-end;
        &_hed{
          flex-grow: 1;
          align-self: center;
          padding-right: 15px;
          color: $white;
          h4 {
            color: $white;
            border-bottom: 1px solid $gray-300;
            margin-bottom: 5px;
            padding-bottom: 5px;
          }
        }
        &_badge {
          width: 120px;

        }

      }
    }
  }

}

.banner-wrapper {
  background-color: $acc1;

}