.banner-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1090px;
  margin: 0 auto;
  @include media-breakpoint-up(xs) {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 69px auto 0 auto;
  }
  @include media-breakpoint-up(sm) {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 69px auto 0 auto;
  }
  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-around;
    width: 97%;
    padding: 40px 0 25px 0;
    margin: 90px auto 0 auto;
  }
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    justify-content: space-around;
    width: 97%;
    padding: 40px 0 25px 0;
    margin: 90px auto 0 auto;
  }

  &_henry {
    display: flex;
    flex-direction: column;



    @include media-breakpoint-up(xs) {
      padding:15px 15px 0 15px;
      align-items: center;
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid lighten($acc1,20%);
    }
    @include media-breakpoint-up(sm) {
      padding:15px 15px 0 15px;
      align-items: center;
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid lighten($acc1,20%);
    }
    @include media-breakpoint-up(md) {
      padding:0 50px 0 0;
      max-width: 750px;
      align-items: flex-end;
      padding-bottom: auto;
      margin-bottom:auto;
      border-bottom:0;
    }
    @include media-breakpoint-up(lg) {
      padding:0 55px 0 0;
      max-width: 500px;
      align-items: flex-end;
      padding-bottom: auto;
      margin-bottom:auto;
      border-bottom:0;
    }

    @include media-breakpoint-up(xl) {
      padding:0 50px 0 0;
      max-width: 750px;
      align-items: flex-end;
      padding-bottom: auto;
      margin-bottom:auto;
      border-bottom:0;
    }

    .close-up {

      @include media-breakpoint-up(xs) {
        transform: rotate(0deg);
      }
      @include media-breakpoint-up(sm) {
        transform: rotate(0deg);
      }
      @include media-breakpoint-up(md) {
        transform: rotate(-5deg);
      }
      @include media-breakpoint-up(lg) {
        transform: rotate(-5deg);
      }
    }
  }
  &_usp {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {



      color: $white;
      @include media-breakpoint-up(xs) {
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
      }
      @include media-breakpoint-up(sm) {
        text-align: center;
        font-size: 33px;
        margin-bottom: 0px;
      }
      @include media-breakpoint-up(md) {
        text-align: right;
        font-size: 33px;
        margin-bottom: 15px;
      }
      @include media-breakpoint-up(lg) {
        text-align: right;
        font-size: 43px;
        margin-bottom: 35px;
      }

      @include media-breakpoint-up(xl) {
        text-align: right;
        font-size: 43px;
        margin-bottom: 35px;
      }
    }

    &_testimonial {

      h1 {

      }

      blockquote {
        width: 100%;
        position: relative;

        @include media-breakpoint-up(xs) {
          margin-bottom: 0px;
        }
        @include media-breakpoint-up(sm) {
          margin-bottom: 0px;
        }
        @include media-breakpoint-up(md) {
          margin-bottom: 35px;
        }
        @include media-breakpoint-up(lg) {
          margin-bottom: 35px;
        }

        p {
          margin: 0;
          color: $white;
          @include media-breakpoint-up(xs) {
           padding: 25px;
          }
          @include media-breakpoint-up(sm) {
            padding: 25px;
          }
          @include media-breakpoint-up(md) {
            padding: 0;
          }
          @include media-breakpoint-up(lg) {

          }
          &::before {

            color: $gray-300;
            content: '“';
            font-size: 3em;

            position: absolute;
            @include media-breakpoint-up(xs) {
              font-size: 2em;
              top: 0px;
              left: 20px;
            }
            @include media-breakpoint-up(sm) {
              font-size: 2em;
              top: 0px;
              left: 20px;
            }
            @include media-breakpoint-up(md) {
              font-size: 2em;
              top: 0px;
              left: 20px;
            }
            @include media-breakpoint-up(lg) {
              font-size: 2em;
              top: -20px;
              left: -20px;
            }

          }
          &::after {

            color: $gray-300;
            content: '”';

            font-size: 3em;
            position: absolute;

          }
        }
      }

      .footer-note {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: right;
        justify-content: flex-end;
        &_hed{
          flex-grow: 1;
          align-self: center;
          padding-right: 15px;
          color: $white;
          h4 {
            color: $white;
            border-bottom: 1px solid $gray-300;
            margin-bottom: 5px;
            padding-bottom: 5px;
          }
        }
        &_badge {
          width: 120px;

        }

      }
    }
  }

}

.banner-wrapper {
  background-color: $acc1;

}


