.main-nav {
  background-color: $white;
  transition: background-color 300ms linear;
  box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 0px 0px rgba(0,0,0,0.10);
  &.pass {
    background-color: $white;
    transition: background-color 300ms linear;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 0px 0px rgba(0,0,0,0.10);
  }
  .nav-wrapper {

    @include media-breakpoint-up(xs) {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      width: 97%;
      margin: 0 auto;
    }
    @include media-breakpoint-up(lg) {
      width: 97%;
      margin: 0 auto;
    }


    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    .nav_logo{
      align-self: center;
    }
    .right-cta {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      .cta-btns{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
      }
    }
    .nav-links{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .nav {
        @include media-breakpoint-up(lg) {
          display: flex;
        }
        @include media-breakpoint-down(md) {
          display: flex;
        }
        @include media-breakpoint-down(sm) {
          display: flex;
        }
        @include media-breakpoint-down(xs) {
          display: none;
        }
        @media (max-width: 947px) {
          display: none;
        }
        .nav-item {
          display: flex;
          align-content: center;
          align-items: center;
          align-self: center;
          justify-content: center;
          text-transform: capitalize;
          .nav-link {
            color: $gray-700;
            border-right:1px solid $gray-300 ;
            @include media-breakpoint-up(lg) {
              font-size: 22px;
              padding: 0 15px;
            }
            @include media-breakpoint-down(md) {
              font-size: 17px;
              padding: 0 10px;
            }

            &.active {
              color: $acc1;
            }

            &:last-child {
              border-right:0;
            }
            .hide {
              @include media-breakpoint-up(lg) {
                display: inline-block;
              }
              @include media-breakpoint-down(md) {
                display: none;
              }
              @include media-breakpoint-down(sm) {
                display: none;
              }
              @include media-breakpoint-down(xs) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.fd-logo {
  @include svgPngFb("new/logo-finestdental");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  width: 180px;
  height: 55px;
  margin: 0 10px;

}


.nav-links_bookbtn, .nav-links_callbtn {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  flex-grow: 1;
  min-height: 25px;
  justify-content: center;
  text-align: center;
}

.nav-links_callbtn {
  @include media-breakpoint-up(xs) {
    font-size: 16px;
    padding-top: 10px;

  }

  @include media-breakpoint-up(md) {
    border-radius: 50px !important;
    font-size: 24px;
  }

  color: $acc2;
  font-weight: bold;
  width: auto !important;

  &:hover {
    color: $acc1;
    text-decoration: none;

  }

}

.nav-links_bookbtn {

  @include media-breakpoint-up(xs) {
    font-size: 17px;
    color: $acc4;
    background-color: $white;
    padding-bottom: 10px;

  }

  @include media-breakpoint-up(md) {
    padding: 5px 10px;
    margin-bottom: 10px;
    color: white;
    background-color: $acc4;

    font-weight: bold;
    border: 0;

    border-radius: 4px;
  }

  font-weight: bold;
  border: 0;


  .hide {

    @include media-breakpoint-up(xs) {
      display: none;
    }
    @include media-breakpoint-up(md) {
     display: inline-block;
    }

  }
  &:hover {

    text-decoration: none;
    @include media-breakpoint-up(xs) {

      background-color: white;
      color: $acc1;
    }
    @include media-breakpoint-up(md) {
      background-color: $acc1;
      color: white;
    }
  }

}



.hamburger {

  @include media-breakpoint-up(xs) {
    display: flex;

  }
  @include media-breakpoint-up(md) {
    display: none;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }

  flex-direction: column;
  background: $acc2;
  justify-content: center;
  padding: 0 10px;
  margin-left: 10px;

  .line{
    width: 28px;
    height: 4px;
    border-radius: 4px;
    background-color: $white;
    display: block;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
    &:nth-child(1), :nth-child(3) {

    }
  }
  &.is-active {
    .line {
        &:nth-child(1){
          width: 17px;
          transform: translateX(-8px) translateY(5px) rotate(-45deg);
       }

      &:nth-child(2){
        width: 28px;
      }
      &:nth-child(3){
          width: 17px;
          transform: translateX(-8px) translateY(-5px) rotate(45deg);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}


.nav-tabs {
  a.nav-item {
    font-size: 22px;
    color: $gray-600;
    &.active {
      background-color: $acc2;
      color: white;
    }
  }
}






