.panel-expand {
  display: none;
  background-color: white;
  position: absolute;
  top: 0;
  &.active {
    z-index: 9000;
    display: block;
  }
  .inner {
    padding: 25px;
    .corner{
      display: block;
      top: 0;
      background: url($imgPathRoot + "xpanel_corner_top.png");
      position: absolute;
      right: 0;
      bottom: 0;

      width: 42px;
      height: 42px;
      text-decoration: none;
      &.top {
        display: block;
        top: 0;
        background: url($imgPathRoot + "xpanel_corner_top.png");
        position: absolute;
        right: 0;
        bottom: 0;

        width: 42px;
        height: 42px;
        text-decoration: none;
      }
    }
  }
}


.teeth-panel-holder {
  z-index: 9000;
  position: relative;
}

.panel-expand_hed {
  display: flex;
  flex-direction: row;
  &__txt {
    flex-grow: 1;
    h4 {
      @include media-breakpoint-up(lg) {
        font-size: 42px;
      }
      @include media-breakpoint-down(md) {
        font-size: 35px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 22px;
      }
      @include media-breakpoint-down(xs) {
        font-size: 22px;
      }

      border-bottom: 1px solid $gray-500;
      padding-bottom: 10px;
      margin-bottom: 10px;
      color: $acc1;
    }
    h5 {
      @include media-breakpoint-up(lg) {
        font-size: 26px;
      }
      @include media-breakpoint-down(md) {
        font-size: 26px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }
      @include media-breakpoint-down(xs) {
        font-size: 16px;
      }

      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
  &__img {
    @include media-breakpoint-up(lg) {
      height: 120px;
    }
    @include media-breakpoint-down(md) {
      height: 100px;
    }
    @include media-breakpoint-down(sm) {
      height: 90px;
    }
    @include media-breakpoint-down(xs) {
      height: 90px;
    }

    img {
      width: auto;
      height: 100% ;
    }
  }
}

.panel-expand_body {
  p {
    @include media-breakpoint-up(lg) {
      font-size: 18px;
      font-weight: 300;
    }
    @include media-breakpoint-down(md) {
      font-size: 17px;
      font-weight: 500;
    }
    @include media-breakpoint-down(sm) {
      font-size: 14px;
      font-weight: 500;
    }
    @include media-breakpoint-down(xs) {
      font-size: 14px;
      font-weight: 500;
    }


  }

  .panel-expand_body__cta {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
    @include media-breakpoint-down(md) {
      flex-direction: row;
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: stretch;
    }
    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: stretch;
    }

    a {
      &:first-child {


        @include media-breakpoint-up(lg) {
          margin-right: 20px;
          padding-right: 20px;
          border-right: 1px solid $gray-200;
        }
        @include media-breakpoint-down(md) {
          margin-right: 20px;
          padding-right: 20px;
          border-right: 1px solid $gray-200;
        }
        @include media-breakpoint-down(sm) {
          margin: 0 0 10px 0;
          padding:  0 0 10px 0;
          border-right: 0;
          border-bottom: 1px solid $gray-200;

        }
        @include media-breakpoint-down(xs) {
          margin: 0 0 10px 0;
          padding:  0 0 10px 0;
          border-right: 0;
          border-bottom: 1px solid $gray-200;

        }
      }
    }
  }
}