<div class="masonry">
    <div class="masonry-item span-1 masonry-item-5">
        <a class="btn-gallery" data-iframe="<img src=&quot;/images/new/branches/{{branchFolder}}/office-img-1.jpg&quot; alt=&quot;image&quot; class=&quot;embed-responsive&quot; />"
           href="/images/new/branches/{{branchFolder}}/office-img-1.jpg"
           target="_blank" title="gallery img" style="background-image: url('/images/new/branches/{{branchFolder}}/office-img-1.jpg'); background-position: center center; background-size: cover;"></a>
    </div>
    <div class="masonry-item span-2 masonry-item-5">
        <a class="btn-gallery" data-iframe="<img src=&quot;/images/new/branches/{{branchFolder}}/office-img-2.jpg&quot; alt=&quot;image&quot; class=&quot;embed-responsive&quot; />"
           href="/images/new/branches/{{branchFolder}}/office-img-2.jpg"
           target="_blank" title="gallery img" style="background-image: url('/images/new/branches/{{branchFolder}}/office-img-2.jpg'); background-position: center center; background-size: cover;"></a>
    </div>
    <div class="masonry-item masonry-item-1">
        <a class="btn-gallery" data-iframe="<img src=&quot;/images/new/branches/{{branchFolder}}/office-img-3.jpg&quot; alt=&quot;image&quot; class=&quot;embed-responsive&quot; />"
           href="/images/new/branches/{{branchFolder}}/office-img-3.jpg"
           target="_blank" title="gallery img" style="background-image: url('/images/new/branches/{{branchFolder}}/office-img-3.jpg'); background-position: center center; background-size: cover;"></a>
    </div>
    <div class="masonry-item masonry-item-2">
        <a class="btn-gallery" data-iframe="<img src=&quot;/images/new/branches/{{branchFolder}}/office-img-4.jpg&quot; alt=&quot;image&quot; class=&quot;embed-responsive&quot; />"
           href="/images/new/branches/{{branchFolder}}/office-img-4.jpg"
           target="_blank" title="gallery img" style="background-image: url('/images/new/branches/{{branchFolder}}/office-img-4.jpg'); background-position: center center; background-size: cover;"></a>
    </div>
    <div class="masonry-item span-3 ">
        <a class="btn-gallery" data-iframe="<img src=&quot;/images/new/branches/{{branchFolder}}/office-img-5.jpg&quot; alt=&quot;image&quot; class=&quot;embed-responsive&quot; />"
           href="/images/new/branches/{{branchFolder}}/office-img-5.jpg"
           target="_blank" title="gallery img" style="background-image: url('/images/new/branches/{{branchFolder}}/office-img-5.jpg'); background-position: center center; background-size: cover;"></a>
    </div>
</div>