<h2 class="txt-c2 mb-3">Finest Dental Has Its Very Own <span>Digital Dental Lab &amp; Milling Centre</span>.</h2>
<p class="feature">Meaning we are able to produce industry leading work at a fraction of the cost, we pass this saving
    directly to our patients. Giving them world class treatments at affordable prices. </p>
<div class="videoHolder mb-3">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TGbvtDoaNAs?rel=0&amp;showinfo=0"
            frameborder="0" allowfullscreen=""></iframe>
</div>
<div class="row">
    <div class="col-6">
        <a class="lb btn-gallery"
           data-iframe="<img src=&quot;/images/gimg1.jpg&quot; alt=&quot;image&quot; class=&quot;embed-responsive&quot; />"
           href="/images/gimg1.jpg" target="_blank" title="Our guarantee"><img class="embed-responsive"
                                                                                 src="/images/gimg1.jpg"
                                                                                 alt="Guarantee image 1"></a>
    </div>
    <div class="col-6">
        <a class="lb btn-gallery"
           data-iframe="<img src=&quot;/images/gimg2.jpg&quot; alt=&quot;image&quot; class=&quot;embed-responsive&quot; />"
           href="/images/gimg2.jpg" target="_blank" title="Our guarantee"><img class="embed-responsive"
                                                                                 src="/images/gimg2.jpg"
                                                                                 alt="Guarantee image 1"></a>
    </div>
</div>
<div class="row mb-3">
    <div class="col-6">
        <a class="lb btn-gallery"
           data-iframe="<img src=&quot;/images/gimg3.jpg&quot; alt=&quot;image&quot; class=&quot;embed-responsive&quot; />"
           href="/images/gimg3.jpg" target="_blank" title="Our guarantee"><img class="embed-responsive" src="/images/gimg3.jpg" alt="Guarantee image 1"></a>
    </div>
    <div class="col-6">
        <a class="lb btn-gallery"
           data-iframe="<img src=&quot;/images/gimg4.jpg&quot; alt=&quot;image&quot; class=&quot;embed-responsive&quot; />"
           href="/images/gimg4.jpg" target="_blank" title="Our guarantee"><img class="embed-responsive"
                                                                                 src="/images/gimg4.jpg"
                                                                                 alt="Guarantee image 1"></a>
    </div>
</div>