<div class="inner">
    <a href="#" class="corner top"></a>
    <div class="panel-expand_hed">
        <div class="panel-expand_hed__txt">
            <h4><strong>Implant Retained</strong> Dentures</h4>
            <h5>from <strong>£113</strong> per month*</h5>
        </div>
        <div class="panel-expand_hed__img">
            <img src="/images/nobel_all_on_4.png" alt="product image">
        </div>
    </div>

    <div class="panel-expand_body">
        <p>For a cost-effective way of replacing many missing teeth, dentures can be held securely in place with implants, providing a great improvement from traditional removable dentures.</p>
        <ul class="simple-list">
            <li>No need for denture adhesives, pastes, sticky gum or powders.</li>
            <li>Implants help to maintain your facial structures by preserving the remaining bone in your jaws.</li>
            <li>Minimises wrinkles around the mouth by restoring lost lip-support</li>
            <li>Markedly improves your ability to chew – you can eat whatever you want and enjoy your food again.</li>
            <li>Secure and comfortable – no more embarrassing moments caused by loose dentures!</li>
        </ul>
        <p>A lower denture may only need two conventional implants to give a completely life-changing transformation to your ability to chew foods, and smile with confidence</p>

        <div class="panel-expand_body__cta">
            <a class="btn-play play" data-iframe="<iframe src=&quot;https://www.youtube.com/embed/LADwzxiTcs4?rel=0&amp;autoplay=1&quot; frameborder=&quot;0&quot; width=&quot;640&quot; height=&quot;360&quot; frameborder=&quot;0&quot; width=&quot;560&quot; height=&quot;315&quot; webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>" target="_blank" title="Watch video">
                <div class="video-play-button"><span></span></div>
                <div class="btn-play_txt">Tour our lab</div>
            </a>
            <a href="#" class="btn-book openForm">
                <i class="lnr lnr-enter"></i>
                <div>Book free consultation</div>
            </a>
        </div>

    </div>

    <div class="panel-expand_footer">
        <p class="meta-text">*Finest Dental is regulated by the FCA as a credit broker. Finance is provided by Braemar Finance and Afford It Now, FCA regulated companies. <!-- Finance example for the above treatment: 10% deposit of £149.50, plus 60 payments of £28.23 at 9.9% APR. Total paid&nbsp;<strong>£1,843.30</strong>, total interest paid <strong>£348.30</strong>.-->&nbsp;</p>
    </div>

    <a href="#" class="corner"></a>
</div>