<div class="expandedPanel" id="xpSingle">
    <div class="inner">

        <a href="#" class="corner top"></a>
        <div class="xpHeading">
            <div class="column xpHeadingCol1">
                <h4><strong>Single</strong> Implants</h4>
                <h5>from <strong>£32</strong> per month*</h5>
            </div>
            <div class="column xpHeadingCol2">
                <img src="https://finestdental.co.uk/images/p_implants_single.png" alt="product image">
            </div>
        </div>
        <p>Dental implants are small rod-like posts that act as a base for replacement teeth. They are placed into the jawbone and act like roots in that they support the tooth, denture or bridge.</p><p>The dental implant screw fits into the bone and has a clip (abutment) that the tooth (crown) fits on to. Titanium is the usual material that implants are made of, this is because Titanium has no ill effect on the human body and bonds readily with the new bone, which penetrates into the titanium surface. The implants should last a lifetime if you look after them and maintain good oral hygiene.</p>

        <a class="cta play watchExplainer" data-iframe="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/OOzlbmDLwDA?rel=0&amp;autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen></iframe>&quot; width=&quot;640&quot; height=&quot;360&quot; frameborder=&quot;0&quot; webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>" href="https://vimeo.com/154705990" target="_blank" title="Watch video">
            <i class="lnr lnr-film-play"></i> <span>Watch explainer video</span>
        </a>
        <a href="#top" class="cta book">
            <i class="lnr lnr-enter"></i> <span>Book free consultation</span>
        </a>
        <p class="smallPrint">*Finest Dental is regulated by the FCA as a credit broker. Finance is provided by Braemar Finance and Afford It Now, FCA regulated companies. <!-- Finance example for the above treatment: 10% deposit of £149.50, plus 60 payments of £28.23 at 9.9% APR. Total paid&nbsp;<strong>£1,843.30</strong>, total interest paid <strong>£348.30</strong>.-->&nbsp;</p>

        <a href="#" class="corner"></a>
    </div>
</div>
<div class="expandedPanel" id="xpMultiple">
    <div class="inner">

        <a href="#" class="corner top"></a>
        <div class="xpHeading">
            <div class="column xpHeadingCol1">
                <h4><strong>Multiple</strong> Implants</h4>
                <h5>Discounts available*</h5>
            </div>
            <div class="column xpHeadingCol2">
                <img src="https://finestdental.co.uk/images/p_implants_multiple.png" alt="product image">
            </div>
        </div>
        <p>Dental implants are small rod-like posts that act as a base for replacement teeth. They are placed into the jawbone and act like roots in that they support the tooth, denture or bridge.</p>
        <p>In all surgical dentistry treatments, such as dental implants, you will need to have a consultation with the dentist to determine the best option for your particular circumstance.</p>
        <p>The dental implant screw fits into the bone and has a clip (abutment) that the tooth (crown) fits on to. Titanium is the usual material that implants are made of, this is because Titanium has no ill effect on the human body and bonds readily with the new bone, which penetrates into the titanium surface. The implants should last a lifetime if you look after them and maintain good oral hygiene.</p>
        <a class="cta play watchExplainer" data-iframe="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/wi-KOTyDHCQ?rel=0&amp;autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen></iframe>" href="https://vimeo.com/154705990" target="_blank" title="Watch video">
            <i class="lnr lnr-film-play"></i> <span>Watch explainer video</span>
        </a>
        <a href="#top" class="cta book">
            <i class="lnr lnr-enter"></i> <span>Book free consultation</span>
        </a>
        <p class="smallPrint">*Discount prices can be discussed during your <strong>free</strong> consultation.</p>


        <a href="#" class="corner"></a>
    </div>
</div>
<div class="expandedPanel" id="xpArch">
    <div class="inner">

        <a href="#" class="corner top"></a>
        <div class="xpHeading">
            <div class="column xpHeadingCol1">
                <h4><strong>Implant Retained</strong> Dentures</h4>
                <h5>from <strong>£113</strong> per month*</h5>
            </div>
            <div class="column xpHeadingCol2">
                <img src="images/implants_dentures.png" alt="product image">
            </div>
        </div>
        <p>For a cost-effective way of replacing many missing teeth, dentures can be held securely in place with implants, providing a great improvement from traditional removable dentures.</p>
        <ul>
            <li>No need for denture adhesives, pastes, sticky gum or powders.</li>
            <li>Implants help to maintain your facial structures by preserving the remaining bone in your jaws.</li>
            <li>Minimises wrinkles around the mouth by restoring lost lip-support</li>
            <li>Markedly improves your ability to chew – you can eat whatever you want and enjoy your food again.</li>
            <li>Secure and comfortable – no more embarrassing moments caused by loose dentures!</li>
        </ul>
        <p>A lower denture may only need two conventional implants to give a completely life-changing transformation to your ability to chew foods, and smile with confidence</p>
        <a class="cta play watchExplainer" data-iframe="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/LADwzxiTcs4?rel=0&amp;autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen></iframe>" href="https://vimeo.com/154705990" target="_blank" title="Watch video">
            <i class="lnr lnr-film-play"></i> <span>Watch explainer video</span>
        </a>
        <a href="#top" class="cta book">
            <i class="lnr lnr-enter"></i> <span>Book free consultation</span>
        </a>
        <p class="smallPrint">*Finest Dental is regulated by the FCA as a credit broker. Finance is provided by Braemar Finance and Afford It Now, FCA regulated companies. <!-- Finance example for the above treatment: 10% deposit of £399.50, plus 60 payments of £75.57 at 9.9% APR. Total paid&nbsp;<strong>£4,933.70</strong>, total interest paid <strong>£938.70</strong>. --></p>

        <a href="#" class="corner"></a>
    </div>
</div>
<div class="expandedPanel" id="xpTID">
    <div class="inner">

        <a href="#" class="corner top"></a>
        <div class="xpHeading">
            <div class="column xpHeadingCol1">
                <h4><strong>Teeth</strong> In A Day</h4>
                <h5>from <strong>£97</strong> per month*</h5>
            </div>
            <div class="column xpHeadingCol2">
                <img src="images/implants_allon6.png" alt="product image">
            </div>
        </div>
        <p>The All-on-6 dental implant technique is revolutionary procedure allowing patients to attend the surgery in the morning and leave with a fully fixed temporary set of teeth in the afternoon!</p>
        <p>The All-on-6 concept was developed to enable the dental implant dentist to minimise the number of implants required to restore an entire arch (Jaw) of teeth and to enable the temporary restoration to be fitted to the implants on the very same day. Traditional implant techniques require 6-12 implants (which costs significantly more) to restore a jaw and also a period of extended healing time where the bridge cannot be fixed.</p>
        <p>The scientific idea behind the All-on-6 implant technique is that the two front implants are placed straight into the front of the jawbone parallel to the previously existing teeth whilst the two implants placed at the back of the jaw are angled at about 30 to 45 degrees in the bone compared to original root positions. This method enables the implants to provide a firm overall support and also evenly spreads the chewing forces transmitted from the denture or bridge to the jawbone.</p>
        <a class="cta play watchExplainer" data-iframe="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;https://www.youtube.com/embed/4wmsDvnuZD8?rel=0&amp;autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen></iframe>" href="https://vimeo.com/154705990" target="_blank" title="Watch video">
            <i class="lnr lnr-film-play"></i> <span>Watch explainer video</span>
        </a>
        <a href="#top" class="cta book">
            <i class="lnr lnr-enter"></i> <span>Book free consultation</span>
        </a>
        <a href="#" class="corner"></a>
        <p class="smallPrint">*Finest Dental is regulated by the FCA as a credit broker. Finance is provided by Braemar Finance and Afford It Now, FCA regulated companies. <!-- Finance example for the above treatment: 10% deposit of £900, plus 120 payments of £96.69 at 7.9% APR. Total paid&nbsp;£12,502.65, total interest paid £3,502.65.&nbsp;Subject to availability terms and conditions apply. --></p>

    </div>
</div>