<div class="inner">
    <a href="#" class="corner top"></a>
    <div class="panel-expand_hed">
        <div class="panel-expand_hed__txt">
            <h4 class="txt-c2"><strong>Single</strong> Implants</h4>
            <h5 class="txt-c2">from <strong>£32</strong> per month*</h5>
        </div>
        <div class="panel-expand_hed__img">
            <img src="https://finestdental.co.uk/images/p_implants_single.png" alt="product image">
        </div>
    </div>
    <div class="panel-expand_body">
        <p>Dental implants are small rod-like posts that act as a base for replacement teeth. They are placed into the
            jawbone and act like roots in that they support the tooth, denture or bridge.</p>
        <p>The dental implant screw fits into the bone and has a clip (abutment) that the tooth (crown) fits on to.
            Titanium is the usual material that implants are made of, this is because Titanium has no ill effect on the
            human body and bonds readily with the new bone, which penetrates into the titanium surface. The implants
            should last a lifetime if you look after them and maintain good oral hygiene.</p>
        <div class="panel-expand_body__cta">
            <a class="btn-play play"
               data-iframe="<iframe src=&quot;https://www.youtube.com/embed/OOzlbmDLwDA?rel=0&amp;autoplay=1&quot; frameborder=&quot;0&quot; width=&quot;640&quot; height=&quot;360&quot; frameborder=&quot;0&quot; width=&quot;560&quot; height=&quot;315&quot; webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>"
               target="_blank" title="Watch video">
                <div class="video-play-button"><span></span></div>
                <div class="btn-play_txt">Tour our lab</div>
            </a>
            <a href="#" class="btn-book openForm">
                <i class="lnr lnr-enter"></i>
                <div>Book free consultation</div>
            </a>
        </div>
    </div>
    <div class="panel-expand_footer">
        <p class="meta-text">*Finest Dental is regulated by the FCA as a credit broker. Finance is provided by Braemar
            Finance and Afford It Now, FCA regulated companies.
            <!-- Finance example for the above treatment: 10% deposit of £149.50, plus 60 payments of £28.23 at 9.9% APR. Total paid&nbsp;<strong>£1,843.30</strong>, total interest paid <strong>£348.30</strong>.-->&nbsp;</p>
    </div>
    <a href="#" class="corner"></a>
</div>