<div class="inner">
    <a href="#" class="corner top"></a>
    <div class="panel-expand_hed">
        <div class="panel-expand_hed__txt">
            <h4><strong>Teeth</strong> In A Day</h4>
            <h5>from <strong>£97</strong> per month*</h5>
        </div>
        <div class="panel-expand_hed__img">
            <img src="/images/implants7/both_arches.png" class="embed-responsive" alt="panel image">
        </div>
    </div>
    <div class="panel-expand_body">
        <p>The All-on-6 dental implant technique is revolutionary procedure allowing patients to attend the surgery in the morning and leave with a fully fixed temporary set of teeth in the afternoon!</p>
        <p>The All-on-6 concept was developed to enable the dental implant dentist to minimise the number of implants required to restore an entire arch (Jaw) of teeth and to enable the temporary restoration to be fitted to the implants on the very same day. Traditional implant techniques require 6-12 implants (which costs significantly more) to restore a jaw and also a period of extended healing time where the bridge cannot be fixed.</p>
        <p>The scientific idea behind the All-on-6 implant technique is that the two front implants are placed straight into the front of the jawbone parallel to the previously existing teeth whilst the two implants placed at the back of the jaw are angled at about 30 to 45 degrees in the bone compared to original root positions. This method enables the implants to provide a firm overall support and also evenly spreads the chewing forces transmitted from the denture or bridge to the jawbone.</p>
        <div class="panel-expand_body__cta">
            <a class="btn-play play"
               data-iframe="<iframe src=&quot;https://www.youtube.com/embed/4wmsDvnuZD8?rel=0&amp;autoplay=1&quot; frameborder=&quot;0&quot; width=&quot;640&quot; height=&quot;360&quot; frameborder=&quot;0&quot; width=&quot;560&quot; height=&quot;315&quot; webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>"
               target="_blank" title="Watch video">
                <div class="video-play-button"><span></span></div>
                <div class="btn-play_txt">Tour our lab</div>
            </a>
            <a href="#" class="btn-book openForm">
                <i class="lnr lnr-enter"></i>
                <div>Book free consultation</div>
            </a>
        </div>
    </div>
    <div class="panel-expand_footer">
        <p class="meta-text">*Finest Dental is regulated by the FCA as a credit broker. Finance is provided by Braemar
            Finance and Afford It Now, FCA regulated companies.
            <!-- Finance example for the above treatment: 10% deposit of £149.50, plus 60 payments of £28.23 at 9.9% APR. Total paid&nbsp;<strong>£1,843.30</strong>, total interest paid <strong>£348.30</strong>.-->&nbsp;</p>
    </div>
    <a href="#" class="corner"></a>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>