{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">

<head>
    {{!— Required meta tags --}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Finest Dental" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <title>UK's Finest Dental Implants</title>
    <link rel="stylesheet" href="{{root}}/css/app-tab-new.css">
    <link rel="shortcut icon" href="https://finestdental.co.uk/favicon.ico" />


</head>

<body class="veneers">

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}


    <div id="cover" style="display: none"></div>

    {{>main-nav}}

    <nav class="st-menu st-effect-3" id="menu-3">

        <ul id="mobileNav">
            <li class="nav-item"><a class="nav-link" data-nav-mobi="tab" href="#getting-started">Get&nbsp;Started</a></li>
            <li class="nav-item"><a class="nav-link" data-nav-mobi="tab" href="#prices"  aria-pressed="true">Prices</a></li>
            <li class="nav-item"><a class="nav-link" data-nav-mobi="tab" href="#results"  aria-pressed="true">Results</a></li>
            <li class="nav-item"><a class="nav-link" data-nav-mobi="tab" href="#quality"  aria-pressed="true">Quality Guarantee</a></li>
            <li class="nav-item"><a class="nav-link" href="#reviews"  href="#reviews" aria-pressed="true">Reviews</a></li>

        </ul>
    </nav>

    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">



                    <div class="main clearfix">

                            {{>content-hero-banner}}
                            <main role="main" class="main-holder">
                                <div class="main-holder_content">
                                    <div id="coverLight" style="display: none"></div>
                                    {{> body}}
                                </div>
                                <div class="main-holder_sidebar">
                                  {{>booking-form-comp}}
                                </div>
                            </main>
                            {{>reviews}}
                            {{>footer}}


                    </div><!-- /main -->
                </div><!-- /st-content-inner -->
            </div><!-- /st-content -->
        </div>
    </div>

    <div class="mobile-btn">
        <button class="openForm btn submit " name="submitC" value="BOOK NOW">Book <span class="hideMe">Your </span><strong>Free Consultation</strong><span class="hideMe"> Now</span></button>
    </div>
    {{>modal-form-quote}}
    {{>modal-video}}
    {{>modal-form}}
    {{>modal-guarantee}}
    {{>modal-terms}}
    {{>modal-privacy}}
    {{>modal-complaints}}

    <script src="{{root}}/js/app-tab-new.js"></script>



</body>
</html>