
{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">

<head>
    {{!— Required meta tags --}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Finest Dental" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <title>UK's Finest Dental Implants</title>
    <link rel="stylesheet" href="{{root}}/css/app-imp-new.css">
    <link rel="shortcut icon" href="https://finestdental.co.uk/favicon.ico" />

</head>

<body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}


    <div id="st-container" class="st-container">


        <!-- content push wrapper -->
        <div class="st-pusher">
            <!--
                example menus
                these menus will be under the push wrapper
            -->
            <nav class="st-menu st-effect-3" id="menu-3">
                <h2 class="icon icon-lab">Sidebar</h2>
                <ul>
                    <li><a class="icon icon-data" href="#">Data Management</a></li>
                    <li><a class="icon icon-location" href="#">Location</a></li>
                    <li><a class="icon icon-study" href="#">Study</a></li>
                    <li><a class="icon icon-photo" href="#">Collections</a></li>
                    <li><a class="icon icon-wallet" href="#">Credits</a></li>
                </ul>
            </nav>


            <div class="st-content"><!-- this is the wrapper for the content -->
                <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
                    <!-- Top Navigation -->
                    <div class="codrops-top clearfix">
                        <a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Tutorials/3DShadingWithBoxShadows/"><span>Previous Demo</span></a>
                        <span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=16292"><span>Back to the Codrops Article</span></a></span>
                    </div>
                    <header class="codrops-header">
                        <h1>Sidebar Transitions <span>Transition effects for off-canvas views</span></h1>
                    </header>
                    <div class="main clearfix">
                        <div id="st-trigger-effects" class="column">
                            {{> body}}
                            <button data-effect="st-effect-3">Push</button>

                        </div>

                    </div><!-- /main -->
                </div><!-- /st-content-inner -->
            </div><!-- /st-content -->
        </div><!-- /st-pusher -->
    </div><!-- /st-container -->

    <script src="{{root}}/js/app-imp-new.js"></script>


</body>
</html>